<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>TesiRivelazioneIncendi</display-name>
	<!--  -->
	<context-param>
		<param-name>urlDatabaseItaliaLocale</param-name>
		<param-value>jdbc:mysql://localhost:3306/italia</param-value>
	</context-param>
	<context-param>
		<param-name>urlDatabaseLocale</param-name>
		<param-value>jdbc:mysql://localhost:3306/vigilidelfuoco</param-value>
	</context-param>
	<context-param>
		<param-name>userLocale</param-name>
		<param-value>root</param-value>
	</context-param>
	<context-param>
		<param-name>passwdLocale</param-name>
		<param-value>root</param-value>
	</context-param>
	<!--  -->
	<context-param>
		<param-name>urlDatabaseItalia</param-name>
		<param-value>jdbc:mysql://sql11.freemysqlhosting.net:3306/sql11427457</param-value>
	</context-param>
	<context-param>
		<param-name>urlDatabase</param-name>
		<param-value>jdbc:mysql://sql4.freemysqlhosting.net:3306/sql4427437</param-value>
	</context-param>
	<context-param>
		<param-name>usernameDB</param-name>
		<param-value>sql4427437</param-value>
	</context-param>
	<context-param>
		<param-name>passwdDB</param-name>
		<param-value>lmvmFmsHBA</param-value>
	</context-param>
	<context-param>
		<param-name>usernameDBita</param-name>
		<param-value>sql11427457</param-value>
	</context-param>
	<context-param>
		<param-name>passwdDBita</param-name>
		<param-value>xpNP9GH1VV</param-value>
	</context-param>
	<!-- CORSS -->
	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
		<init-param>
			<param-name>cors.allowed.origins</param-name>
			<param-value>*</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>RicercaPerDistanza</servlet-name>
		<servlet-class>it.uniroma2.tesi.servlet.RicercaPerDistanza</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RicercaPerDistanza</servlet-name>
		<url-pattern>/RicercaPerDistanza</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RicercaPerRegione</servlet-name>
		<servlet-class>it.uniroma2.tesi.servlet.RicercaPerRegione</servlet-class>
		<init-param>
			<param-name>nome_parametro_servlet</param-name>
			<param-value>valore</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>RicercaPerRegione</servlet-name>
		<url-pattern>/RicercaPerRegione</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RicercaPerProvincia</servlet-name>
		<servlet-class>it.uniroma2.tesi.servlet.RicercaPerProvincia</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RicercaPerProvincia</servlet-name>
		<url-pattern>/RicercaPerProvincia</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RicercaPerComune</servlet-name>
		<servlet-class>it.uniroma2.tesi.servlet.RicercaPerComune</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RicercaPerComune</servlet-name>
		<url-pattern>/RicercaPerComune</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Risorse</servlet-name>
		<servlet-class>it.uniroma2.tesi.servlet.Risorse</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Risorse</servlet-name>
		<url-pattern>/Risorse</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RicercaInItalia</servlet-name>
		<servlet-class>it.uniroma2.tesi.servlet.RicercaInItalia</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RicercaInItalia</servlet-name>
		<url-pattern>/RicercaInItalia</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<servlet>
		<servlet-name>ProvaJDBC</servlet-name>
		<servlet-class>it.uniroma2.tesi.servlet.ProvaJDBC</servlet-class>
		<init-param>
			<param-name>nome_parametro_servlet</param-name>
			<param-value>valore</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProvaJDBC</servlet-name>
		<url-pattern>/ProvaJDBC</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>